<head>
<%= stylesheet_link_tag "custom" %>
</head>

<h2>Kenyan Diaspora News</h2>

<ol>
  <% @posts.each do |post| %>
    <li>

      <div class="vote">
      <%= link_to(image_tag("/images/upvote.png",:title => "upvote"), :action => 'upvote', :id => post.id) %>
	  </div>

      <div class = "text">
      <%= link_to post.subject, post.link %>
      (<%= URI.parse(post.link).host.gsub(/^www\./, '') %>)
      <%= post.votes %>
      </div>
      
    </li>
  <% end %>
</ol>